body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* SearchBar */
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  /* WeatherCard*/
  .weather-card {
    text-align: center;
  }
  
  .weather-card h2 {
    margin: 10px 0;
  }
  
  .weather-card p {
    margin: 5px 0;
  }
  
  .weather-card img {
    margin: 10px 0;
  }
  